<header>
    <h1 class="nombre-sitio">Libreria <span> Piero </span></h1>
</header>

<div class="contenedor-navegacion">
    <nav class="nav-principal contenedor">
        <a href="#">Registrar Libro</a>
        <a href="#">Configuracíon</a>
    </nav>
</div>

<div class="barraDivisora"></div>
<div class="cajaGeneral">
<div class="cajaFormulario">
    <h2>Registrar</h2>
    <form [formGroup]="librosForm" (ngSubmit)="guardar()">
        <div class="form-group cajita">
            <label>Título:</label>
            <input type="text" class="form-control" formControlName="titulo" placeholder="Ingrese un Título">
        </div>

        <div class="form-group cajita">
            <label>Fecha de Lanzamiento:</label>
            <input type="text" class="form-control" formControlName="fechalan" placeholder="DD-MM-AA">
        </div>

        <div class="form-group cajita">
            <label>Idioma:</label>
            <input type="text" class="form-control" formControlName="idioma" placeholder="Ingrese el Idioma">
        </div>

        <div class="form-group cajita">
            <label>Páginas:</label>
            <input type="number" class="form-control" formControlName="paginas" placeholder="Ingrese el Número de Páginas">
        </div>

        <div class="form-group cajita">
            <label>Descripción:</label>
            <textarea class="form-control" formControlName="descripcion" placeholder="Agrega una Descripción" style="height: 100px"></textarea>
        </div>

        <div class="form-group cajita">
            <label>Portada:</label>
            <input type="text" class="form-control" formControlName="portada" placeholder="Ingrese una Portada">
        </div>

        <div class="form-group cajita">
            <label>Autor:</label>
            <select name="autor" id="autor" formControlName="autor" class="form-select">
                <option selected>Selecciona un Autor</option>
                <option [ngValue]="autor" *ngFor="let autor of autores">{{autor.autor}}</option>
            </select>
        </div>

        <div class="form-group cajita">
            <label>Categoría:</label>
            <select name="categoria" id="categoria" formControlName="categoria" class="form-select">
                <option selected>Selecciona una Categoría</option>
                <option [ngValue]="categoria" *ngFor="let categoria of categorias">{{categoria.categoria}}</option>
            </select>
        </div>

        <div class="form-group cajita">
            <label>Editoriales:</label>
            <select name="editorial" id="editorial" formControlName="editorial" class="form-select">
                <option selected>Selecciona una Editorial</option>
                <option [ngValue]="editorial" *ngFor="let editorial of editoriales">{{editorial.editorial}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="librosForm.invalid">Guardar</button>
    </form>
</div>

<div class="tabla">
    <h2>Listado de Libros</h2>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>TÍTULO</th>
                <th>FECHA DE LANZAMIENTO</th>
                <th>IDIOMA</th>
                <th>PÁG</th>
                <th>DESCRIPCIÓN</th>
                <th>AUTOR</th>
                <th>CATEGORÍA</th>
                <th>EDITORIAL</th>
                <th>OPCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let libro of libros">
                <td>{{libro.id}}</td>
                <td>{{libro.titulo}}</td>
                <td>{{libro.fechalan}}</td>
                <td>{{libro.idioma}}</td>
                <td>{{libro.paginas}}</td>
                <td>{{libro.descripcion}}</td>
                <td>{{libro.autor.autor}}</td>
                <td>{{libro.categoria.categoria}}</td>
                <td>{{libro.editorial.editorial}}</td>
                <td class="opciones">
                    <button type="button" class="btn btn-secondary" (click)="editar(libro)">Editar</button>
                    <button type="button" class="btn btn-danger" (click)="eliminar(libro)">Eliminar</button>
                </td>
            </tr>
        </tbody>
      </table>
</div>
</div>

<router-outlet></router-outlet>